input, select, textarea {
    width: 100%;
    height: 30px;
}

textarea {
    font-family: monospace;
}

body {
    padding-top: 100px;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #151515;
    border: 1px solid #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

#to_signup {
    right: 0;
}

.badge {
    background-color: #424242;
    background: url("./images/mountains.png") repeat-x;
}

canvas {

}

#canvas_wrapper {
    overflow: hidden;
    background: #96b4d4 url("./images/mountains.png") repeat-x bottom left;
}

#chat_messages {
    height: 400px;
    overflow-y: scroll;
}

#games {
    height: 500px;
    overflow-y: scroll;
}

#send_message {
    height: 53px;
}
