<h1>Contests</h1>
<div class="datatable"

     style="background-color: #E1E1E1;padding-bottom:3px;">
    <div class="lt">&nbsp;</div>
    <div class="rt">&nbsp;</div>
    <div class="lb">&nbsp;</div>
    <div class="rb">&nbsp;</div>

    <div style="padding: 4px 0 0 6px;font-size:1em;position:relative;">
        Положение

        <div style="position:absolute;right:0.25em;top:0.35em;">
            <img class="closed" src="http://st.codeforces.com/images/icons/control.png"/>

                    <span class="filter" style="display:none;">
                        <img class="opened" src="http://st.codeforces.com/images/icons/control-270.png"/>
                        <input style="position:relative;bottom:2px;border:1px solid #aaa;height:17px;font-size:13px;"/>
                    </span>
        </div>
    </div>
    <div style="background-color: white;margin:0.3em 3px 0 3px;position:relative;">
        <div class="ilt">&nbsp;</div>
        <div class="irt">&nbsp;</div>

        <table class="standings">
    <tr>
        <th>
            select
        </th>
        <th>
            id
        </th>
        <th>
            name
        </th>
    </tr>

    <%
    var contests = models.contests, idx = 0;
    _.each(contests.slice(next_page, next_page + elem_cnt), function(id){
    idx++;
    %>
    <tr <%= idx % 2 != 0 ? "class='dark'" : "" %>>
        <td>
            <input class="contest_selector" id="<%=source%>:<%=id%>" type="checkbox" <%= checked_contests.indexOf(source + ":" + id) != -1 ? "checked" : ""%>>
        </td>
        <td>
            <%=id%>
        </td>
        <td class="party">
            <a href="#!show_rank_table/table/<%=skin%>/<%=source%>:<%=id%>"><%=app.contests[id].name%></a>
        </td>
    </tr>
    <%
    });
    %>
</table>
    </div>
</div>