#catsscore_wrapper  table {
    border-collapse: collapse;
    border-spacing: 0;
}

#catsscore_wrapper .cell-accepted {
    color: #0a0;
    font-weight: bold;
}

#catsscore_wrapper .cell-rejected {
    color: #00a;
}

#catsscore_wrapper .cell-time {
    font-size: 10px;
    display: block;
}

#catsscore_wrapper .contest-name {
    font-size: 1.5em;
    color: #445f9d;
}

#catsscore_wrapper .datatable td {
    width: auto !important;
    max-width: 20em !important;
    overflow: auto;
}

#catsscore_wrapper .datatable {
    width: 100%;
    position: relative;
}

#catsscore_wrapper .datatable table {
    width: 100%;
}

#catsscore_wrapper .datatable td, #catsscore_wrapper .datatable th {
    border-top: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    padding: 0.5em;
    font-size: 0.9em;
    text-align: center;
    overflow: hidden;
}

#catsscore_wrapper .datatable th {
    font-weight: bold;
}

#catsscore_wrapper .datatable .left {
    border-left: none;
}

#catsscore_wrapper .datatable .top {
    border-top: none;
}

#catsscore_wrapper .datatable .bottom {
    border-bottom: none;
}

#catsscore_wrapper .datatable .right {
    border-right: none;
}

#catsscore_wrapper  .datatable .dark {
    background-color: #f8f8f8;
}

#catsscore_wrapper .datatable .lt {
    width: 6px;
    height: 6px;
    left: 0;
    top: 0;
    position: absolute;
}

#catsscore_wrapper .datatable .rt {
    width: 6px;
    height: 6px;
    right: 0;
    top: 0;
    position: absolute;
}

#catsscore_wrapper .datatable .lb {
    width: 4px;
    height: 4px;
    left: 0;
    bottom: 0;
    position: absolute;
}

#catsscore_wrapper .datatable .rb {
    width: 4px;
    height: 4px;
    right: 0;
    bottom: 0;
    position: absolute;
}

#catsscore_wrapper .datatable .ilt {
    width: 6px;
    height: 6px;
    left: 0;
    top: 0;
    position: absolute;
}

#catsscore_wrapper .datatable .irt {
    width: 6px;
    height: 6px;
    right: 0;
    top: 0;
    position: absolute;
}

#catsscore_wrapper .datatable .filter input {
    padding-left: 20px;
}


.pace .pace-progress {
  background: #e1e1e1;
}

.pace .pace-progress-inner {
  box-shadow: 0 0 10px #e1e1e1, 0 0 5px #e1e1e1;
}

.pace .pace-activity {
  border-top-color: #e1e1e1;
  border-left-color: #e1e1e1;
}
