<%
var contest_id = models.contest;
var contest = app.contests[contest_id];
%>

<script>
    var status_color = {
        'accepted': 'green',
        'wrong_answer': 'black',
        'presentation_error': 'blue',
        'time_limit_exceeded': 'red',
        'runtime_error': 'orange',
        'compilation_error': 'yellow',
        'security_violation': 'cyan',
        'memory_limit_exceeded': 'magenta',
        'ignore_submit': 'gray',
        'idleness_limit_exceeded': 'violet',
    };

    $.each(status_color, function(s, c) {
        $("#legend").append('<li style="color: ' + c + '"><span>' + s + '</span></li>');
    });

    var runs = <%=JSON.stringify(CATS.App.runs)%>;
    var contest_runs = <%=JSON.stringify(contest.runs)%>;
    var contest_problems = <%=JSON.stringify(contest.problems)%>;
    var problems_status = {};

    for (var i = 0; i < contest_problems.length; ++i) {
        problems_status[contest_problems[i]] = {
            'accepted': 0,
            'wrong_answer': 0,
            'presentation_error': 0,
            'time_limit_exceeded': 0,
            'runtime_error': 0,
            'compilation_error': 0,
            'security_violation': 0,
            'memory_limit_exceeded': 0,
            'ignore_submit': 0,
            'idleness_limit_exceeded': 0,
        };
    };

    for (var i = 0; i < contest_runs.length; ++i) {
        var run = runs[contest_runs[i]];
        problems_status[run.problem][run.status]++;
    }
    var data = [];
    $.each(problems_status, function(k, v) {
        var new_data = [];
        $.each(v, function(status, count) {
            new_data.push({
                value: count,
                color: status_color[status],
                highlight: status_color[status],
                label: status
            });
        });
        data.push(new_data);
    });

    var ctx = [];
    for (var i = 0; i < contest_problems.length; ++i) {
        ctx.push(document.getElementById("submissions_" + contest_problems[i]).getContext("2d"));
    }

    for (var i = 0; i < ctx.length; ++i) {
        new Chart(ctx[i]).Pie(data[i], {animateRotate : false});
    }
</script>
<h3>Legend:</h3>
<ul id="legend">
</ul>
<h3>Submissions per problems:</h3>
<%
for (var i = 0; i < contest.problems.length; ++i) {
var prob = app.problems[contest.problems[i]];
%>
<%=(i % 3 == 0 ? '<div class="clear"></div>' : '')%>
<div class="pie_wrapper">
<h2><%=prob.name%> (<%=prob.code%>)</h2>
<canvas class="pie" id="submissions_<%=prob.id%>" width="230"></canvas>

</div>

<%
};
%>

