<%
var contest = app.contests[models.contest];
var chart = app.charts[models.chart];
var selected = chart.series_params[_.findIndex(
    chart.series,
    function (s) { return s.id === chart.selected; }
)];
%>

<h2><%=selected ? 'Edit ' + chart.chart_type : 'Add new series'%></h2>
<div class="form-horizontal">
    <%if (!selected) {%>
    <div class="form-group">
        <label for="chart_type" class="col-xs-5 control-label">Chart type:</label>
        <div class="col-xs-7">
            <select id="chart_type" class="selectpicker form-control">
                <option value="line">line</option>
                <option value="pie" <%=chart.chart_type == 'pie' ? 'selected' : ''%>>pie</option>
            </select>
        </div>
    </div>
    <%}%>
    <div class="form-group">
        <label for="parameter" class="col-xs-5 control-label"><%=chart.chart_type == 'pie' ? 'Parameter' : 'Y-axis'%>:</label>
        <div class="col-xs-7">
            <%var params = {
                run_cnt: 'run count',
                place: 'place'
            };
            if (contest.scoring == "school") { params.points = 'points' }%>
            <select id="parameter" class="selectpicker form-control param">
                <%$.each(params, function (key, name) {%>
                <option value="<%=key%>" <%=selected && selected.parameter == key ? 'selected' : ''%>><%=name%></option>
                <%});%>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="group_by" class="col-xs-5 control-label"><%=chart.chart_type == 'pie' ? 'Group by' : 'X-axis'%>:</label>
        <div class="col-xs-7">
            <select id="group_by" class="selectpicker form-control param">
                <%_.each(chart.group_by, function (f, name) {%>
                <option value="<%=name%>" <%=selected && selected.group_by == name ? 'selected' : ''%>><%=name%></option>
                <%});%>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="aggregation" class="col-xs-5 control-label">Aggregation:</label>
        <div class="col-xs-7">
            <%var params = {
                sum: 'sum',
                avg: 'average',
                min: 'minimum',
                max: 'maximum'
            };%>
            <select id="aggregation" class="selectpicker form-control param">
                <%$.each(params, function (key, name) {%>
                <option value="<%=key%>" <%=selected && selected.aggregation == name ? 'selected' : ''%>><%=name%></option>
                <%})%>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="period" class="col-xs-5 control-label">Time period:</label>
        <div class="col-xs-7">
            <input type="text" size="20" id="period" class="form-control param" <%=!selected ? 'value="10"' : 'value="' + selected.period + '"'%>>
        </div>
    </div>
    <div class="form-group">
        <label for="color" class="col-xs-5 control-label">Color:</label>
        <div class="col-xs-7">
            <%if (chart.chart_type == 'line') {%>
            <div id="colorpicker" class="input-group colorpicker-component">
                <input type="text" value="black" class="form-control" />
                <span class="input-group-addon"><i></i></span>
            </div>
            <%} else {%>
                <select id="colorscheme" class="selectpicker form-control">
                <option value="default">Default</option>
            </select>
            <%}%>
        </div>
    </div>
    <%if (!selected) {%>
    <div class="form-group">
        <div class="col-xs-12">
            <button id="add_series" class="btn btn-default btn-block">Add</button>
        </div>
    </div>
    <%} else {%>
    <div class="form-group">
        <label for="selected_problem" class="col-xs-5 control-label">Problem:</label>
        <div class="col-xs-7">
            <select id="selected_problem" class="selectpicker form-control param" multiple>
                <%_.each(contest.problems, function (p) {%>
                <option value="<%=p%>" data-subtext="<%=app.problems[p].name%>" <%=_.indexOf(selected.problems, p) != -1 ? 'selected' : ''%>>
                    <%=app.problems[p].code%>
                </option>
                <%})%>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="selected_status" class="col-xs-5 control-label">Status:</label>
        <div class="col-xs-7">
            <select id="selected_status" class="selectpicker form-control param" multiple>
                <%_.each(chart.statuses, function (status, code) {%>
                <option data-subtext="<%=status%>" <%=_.indexOf(selected.statuses, code) != -1 ? 'selected' : ''%>><%=code%></option>
                <%})%>
            </select>
        </div>
    </div>
    <%}%>
    <div class="form-group">
        <div class="col-xs-12">
            <button id="delete_all" class="btn btn-default btn-block">Delete all</button>
        </div>
    </div>
</div>

<h2>Chart examples:</h2>
<a href='#!show_rank_table/charts/default/<%=chart.contests_url_param%>/settings=<%=JSON.stringify(chart.gen_submittions_per_problem_params())%>'>Submittions per problems</a>