<script>
    $("#contest_slider").slider({
        value: <%=filters.duration.minutes != null ? filters.duration.minutes : contest_duration%>,
        min: 0,
        max: <%=contest_duration%>,
        step: 1,
        slide: function( event, ui ) {
            $("#rnk_contest_min").html(ui.value);
            $("#rnk_contest_minutes").val(ui.value);
            $("#rnk_contest_minutes").change();
        }
    });
</script>
<h2>Table filters:</h2>
<h3>Contest duration minutes:</h3>
<input type="hidden" id="rnk_contest_minutes" value="<%=contest_duration%>" />
Duration <span id="rnk_contest_min"><%=filters.duration.minutes != null ? filters.duration.minutes : contest_duration%></span> minutes,
<label for="rnk_restriction_type">restriction type: </label>
<select id="rnk_restriction_type">
    <option value="history">history</option>
    <option value="scoreboard">scoreboard</option>
</select>
<div id="contest_slider"></div>
<h3>Restrictions:</h3>
<label for="rnk_user">User: </label><input id="rnk_user" value="<%=filters.user != null ? filters.user : '.*?'%>" />
<label for="rnk_affiliation">Affiliation: </label><input id="rnk_affiliation" value="<%=filters.affiliation != null ? filters.affiliation : '.*?'%>" />
<label for="rnk_role">Role: </label><input id="rnk_role" value="<%=filters.role != null ? filters.role : '.*?'%>" />
<br /><br /><br />
