<script>
    $("#contest_slider").slider({
        value: <%=contest_duration%>,
        min: 0,
        max: <%=contest_duration%>,
        step: 1,
        slide: function( event, ui ) {
            $("#contest_min").html(ui.value);
            $("#contest_minutes").val(ui.value);
            $("#contest_minutes").change();
        }
    });
</script>
<h2>Table filters:</h2>
<h3>Contest duration minutes:</h3>
<input type="hidden" id="contest_minutes" value="<%=contest_duration%>" />
Duration <span id="contest_min"><%=contest_duration%></span> minutes,
<label for="restriction_type">restriction type: </label>
<select id="restriction_type">
    <option value="history">history</option>
    <option value="scoreboard">scoreboard</option>
</select>
<div id="contest_slider"></div>
<h3>Restrictions:</h3>
<label for="user">User: </label><input id="user" value=".*?" />
<label for="affiliation">Affiliation: </label><input id="affiliation" value=".*?" />
<label for="role">Role: </label><input id="role" value=".*?" />
<br /><br /><br />
