#catsscore_wrapper {
    font-family: Ubuntu, sans-serif, Arial;
    font-size: 12px;
}

#catsscore_wrapper a {
    text-decoration: none;
    color: black;
}

#catsscore_wrapper td {
    vertical-align: top;
}

#catsscore_wrapper td div {
    color: white;
    padding: 3px;
    border-radius: 3px;
    width: 2em;
    height: 2ex;
    text-align: center;
    margin: auto;
    font-weight: bold;
}

#catsscore_wrapper td.solved div, #catsscore_wrapper td.first div {
    background-color: #88C425;
    border-bottom: 3px solid #519548;
    height: 25px;
}

#catsscore_wrapper td.failed div {
    background-color: #F24E4E;
    border-bottom: 3px solid #D31900;
    height: 25px;
}

#catsscore_wrapper td.total div {
    background-color: #BBBBBB;
    border-bottom: 3px solid #7F8C8D;
    height: 25px;
}

#catsscore_wrapper td.pending {
    background-color: blue;
}

#catsscore_wrapper div.standings-back {
    border-radius: 4px;
    border: 1px solid #BBBBBB;
    background-color: #F3F3F3;
    padding: 0;
    width: 100%;
}

#catsscore_wrapper .standings {
    background-color: white;
    border-collapse: collapse;
    margin: 20px 0 20px 0;
    width: 100%;
}

#catsscore_wrapper .standings .problem {
    text-align: center;
}

#catsscore_wrapper .standings th {
    background-color: #DDDDDD;
    padding: 4px;
    border-top: 1px solid #BBBBBB;
}

#catsscore_wrapper .standings th.rank{
	text-align: center;
}

#catsscore_wrapper .standings td {
    padding: 5px 1px 1px 1px;
    text-align: center;
    border: 1px solid #BBBBBB;
}

#catsscore_wrapper .standings td p {
    padding: 0;
    font-size: x-small;
    vertical-align: bottom;
    margin: 0;
    padding-top: 4px;
}

#catsscore_wrapper .standings td.rank {
    text-align: center;
    vertical-align: middle;
    padding: 8px;
}

#catsscore_wrapper .standings .rank {
    border-left: 0;
}

#catsscore_wrapper .standings td.contestant {
    text-align: left;
    font-size: small;
    padding: 4px;
}

#catsscore_wrapper .standings th.contestant {
    text-align: left;
}

#catsscore_wrapper .standings td.contestant p {
    color: gray;
    font-size: x-small;
}

#catsscore_wrapper .standings .total {
    border-right: 0;
}
