<%
var contest_id = models.contest;
var table_id = models.table;
var contest = app.contests[contest_id];
var contest_problems_stats = contest.get_problems_stats();
var table = app.result_tables[table_id];
table.define_openers();
%>

<div class="standings-back">
<table class="standings">
    <tr>
        <th class="rank">#</th>
        <th class="contestant">Contestant</th>
    <%for (var i = 0; i < contest.problems.length; ++i) {
        var p = app.problems[contest.problems[i]];%>
        <th class="problem"><a href="#<%=p.name%>" target="_blank"><%=p.code%></a></th>
    <%}%>
        <th class="total problem">Total</th>
    </tr>
    <%
    var idx = 0;
    _.each(table.score_board.slice(next_page, next_page + elem_cnt), function(row){
    idx++;
    var user = app.users[row.user];
    %>
    <tr>
        <td class="rank"><%=row.place%></td>
        <td class="contestant"><a href="#<%=user.id%>"><%=user.name%></a><p><%=user.some_affiliation()%></p></td>
        <%
        for (var i = 0; i < row.problems.length; ++i) {
            var p = row.problems[i];
        %>
            <% if (p.is_solved) {%>
            <td class="<%=p.opener ? 'first' : 'solved'%>"><div>+<% if (p.runs_cnt > 1) {%><%=p.runs_cnt-1%><%}%></div><p><%=p.best_run_time%></p></td>
            <%} else if (p.runs_cnt) {%>
            <td class="failed"><div>-<%=p.runs_cnt%></div><p><%=p.best_run_time%></p></td>
            <%} else {%>
            <td><div></div><p>-</p></td>
            <%}%>
        <%
        }
        %>
        <td class="total"><div><%=row.solved_cnt%></div><p><%=row.penalty%></p></td>
    </tr>
    <%
    });
    %>
</table>
</div>
