#wrapper {
    text-align: center;
}

#wrapper table {
    font-family: monospace;
}

#wrapper table.wrapper {
    text-align: center;
    border-collapse: collapse;
    border: none;
    margin: 0pt;
    padding: 0pt;
    width: 100%;
}

#wrapper table.standings {
    border-collapse: collapse;
    border: none;
    margin: 0pt;
    padding: 1pt;
}

#wrapper p {
    text-align: center;
    font-family: monospace;
}

#wrapper small {
    font-size: xx-small;
}

#wrapper h2 {
    font-family: helvetica;
    font-size: large;
    text-align: center;
}

#wrapper h3 {
    font-family: helvetica;
    font-size: medium;
}

#wrapper th {
}

#wrapper th.solved {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#wrapper th.penalty {
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}

#wrapper th.party {
    text-align: left;
    padding-left: 10px;
}

#wrapper th.rank {
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}

#wrapper th.problem {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

#wrapper td {
    text-align: center;
}

#wrapper td.solved {
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
}

#wrapper td.penalty {
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}

#wrapper td.party {
    text-align: left;
    padding-left: 10px;
}

#wrapper td.rank {
    text-align: right;
    padding-right: 10px;
}

#wrapper td.problem {
    text-align: center;
}

#wrapper b {
    color: #c06060;
    font-weight: normal;
}
#wrapper i {
    color: green;
    font-style: normal;
}
#wrapper i.first-to-solve {
    display: block;
    background-color: #c0ffc0;
    font-style: normal;
}
#wrapper em {
    color: black;
    background-color: #f0f0a0;
    font-style: normal;
}
#wrapper s {
    font-size: x-small;
    font-face: arial;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
}
