TABLE.standings{
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}
IMG {
    border:0;
}
TR.head
{
    BACKGROUND-COLOR: #eee
}
TD.stnd
{
    font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
TD.stndact
{
    color:#0000FF; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
TD.frost
{
    background-color: #ffeeaa; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
TD.gold
{
    background-color: #ffeeaa; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
TD.goldact
{
    color:#0000FF; background-color: #ffeeaa; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
TD.silver
{
    background-color: #aaaaaa; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
TD.silveract
{
    color:#0000FF; background-color: #aaaaaa; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
TD.bronze
{
    background-color: #f0c0a0; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
TD.bronzeact
{
    color:#0000FF; background-color: #f0c0a0; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}

TD.opener
{
    background-color: #b0ffb0; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
TD.bad
{
    background-color: #ffd0d0; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
TH.success
{
    background-color: #d0f0d0; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
TH.tried
{
    background-color: #ffd0d0; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
TD.upsolved
{
    font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px; color: #FF0000;
}
TD.virtual
{
    color:#0000FF; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
TD.alive
{
    color:#FF0000; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
TH.stnd
{
    font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
TD.o01
{
    BACKGROUND-COLOR: #004080;
}
TR.solver
{
    BACKGROUND-COLOR: #F0C0A0;
}
TD.o00
{
    BACKGROUND-COLOR: #004080;
}
TR.stand00
{
    BACKGROUND-COLOR: #FFFFFF;
}
TR.stand01
{
    BACKGROUND-COLOR: #B0C7F0;
}

TR.cfres01
{
    BACKGROUND-COLOR: #FFFFB0;
}

.rotatedName
{
    -moz-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
}

TABLE.matches{table-layout:fixed;}
TD.match
{
    height:6em;
    width:2em;
}


.coderTextRed
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: transparent;
}
.coderTextYellow
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: transparent;
}
.coderTextViolet
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: transparent;
}
.coderTextBlue
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: transparent;
}
.coderTextGreen
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: transparent
}
.coderTextGray
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: transparent
}
.coderTextOrange
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: transparent
}
.coderTextRed:link
{
    TEXT-DECORATION: none
}
.coderTextYellow:link
{
    TEXT-DECORATION: none
}
.coderTextViolet:link
{
    TEXT-DECORATION: none
}
.coderTextBlue:link
{
    TEXT-DECORATION: none
}
.coderTextGreen:link
{
    TEXT-DECORATION: none
}
.coderTextGray:link
{
    TEXT-DECORATION: none
}
.coderTextOrange:link
{
    TEXT-DECORATION: none
}
.coderTextWhite:link
{
    TEXT-DECORATION: none
}
.coderTextBlack:link
{
    TEXT-DECORATION: none
}
.coderTextRed:visited
{
    TEXT-DECORATION: none
}
.coderTextYellow:visited
{
    TEXT-DECORATION: none
}
.coderTextViolet:visited
{
    TEXT-DECORATION: none
}
.coderTextBlue:visited
{
    TEXT-DECORATION: none
}
.coderTextGreen:visited
{
    TEXT-DECORATION: none
}
.coderTextGray:visited
{
    TEXT-DECORATION: none
}
.coderTextOrange:visited
{
    TEXT-DECORATION: none
}
.coderTextWhite:visited
{
    TEXT-DECORATION: none
}
.coderTextBlack:visited
{
    TEXT-DECORATION: none
}
.coderTextRed:hover
{
    TEXT-DECORATION: underline
}
.coderTextYellow:hover
{
    TEXT-DECORATION: underline
}
.coderTextViolet:hover
{
    TEXT-DECORATION: underline
}
.coderTextBlue:hover
{
    TEXT-DECORATION: underline
}
.coderTextGreen:hover
{
    TEXT-DECORATION: underline
}
.coderTextGray:hover
{
    TEXT-DECORATION: underline
}
.coderTextOrange:hover
{
    TEXT-DECORATION: underline
}
.coderTextWhite:hover
{
    TEXT-DECORATION: underline
}
.coderTextBlack:hover
{
    TEXT-DECORATION: underline
}
.coderTextRed:active
{
    TEXT-DECORATION: underline
}
.coderTextYellow:active
{
    TEXT-DECORATION: underline
}
.coderTextViolet:active
{
    TEXT-DECORATION: underline
}
.coderTextBlue:active
{
    TEXT-DECORATION: underline
}
.coderTextGreen:active
{
    TEXT-DECORATION: underline
}
.coderTextGray:active
{
    TEXT-DECORATION: underline
}
.coderTextOrange:active
{
    TEXT-DECORATION: underline
}
.coderTextWhite:active
{
    TEXT-DECORATION: underline
}
.coderTextBlack:active
{
    TEXT-DECORATION: underline
}
.coderTextOrange
{
    COLOR: #ff9900
}
.coderTextOrange:link
{
    COLOR: #ff9900
}
.coderTextOrange:visited
{
    COLOR: #ff9900
}
.coderTextOrange:hover
{
    COLOR: #ff9900
}
.coderTextOrange:active
{
    COLOR: #ff9900
}
.coderTextRed
{
    COLOR: #ee0000
}
.coderTextRed:link
{
    COLOR: #ee0000
}
.coderTextRed:visited
{
    COLOR: #ee0000
}
.coderTextRed:hover
{
    COLOR: #ee0000
}
.coderTextRed:active
{
    COLOR: #ee0000
}
.coderTextYellow
{
    COLOR: #ddcc00
}
.coderTextYellow:link
{
    COLOR: #ddcc00
}
.coderTextYellow:visited
{
    COLOR: #ddcc00
}
.coderTextYellow:hover
{
    COLOR: #ddcc00
}
.coderTextYellow:active
{
    COLOR: #ddcc00
}
.coderTextViolet
{
    COLOR: #a0a
}
.coderTextViolet:link
{
    COLOR: #a0a
}
.coderTextViolet:visited
{
    COLOR: #a0a
}
.coderTextViolet:hover
{
    COLOR: #a0a
}
.coderTextViolet:active
{
    COLOR: #a0a
}

.coderTextBlue
{
    COLOR: #6666ff
}
.coderTextBlue:link
{
    COLOR: #6666ff
}
.coderTextBlue:visited
{
    COLOR: #6666ff
}
.coderTextBlue:hover
{
    COLOR: #6666ff
}
.coderTextBlue:active
{
    COLOR: #6666ff
}
.coderTextGreen
{
    COLOR: #00a900
}
.coderTextGreen:link
{
    COLOR: #00a900
}
.coderTextGreen:visited
{
    COLOR: #00a900
}
.coderTextGreen:hover
{
    COLOR: #00a900
}
.coderTextGreen:active
{
    COLOR: #00a900
}
.coderTextGray
{
    COLOR: #999999
}
.coderTextGray:link
{
    COLOR: #999999
}
.coderTextGray:visited
{
    COLOR: #999999
}
.coderTextGray:hover
{
    COLOR: #999999
}
.coderTextGray:active
{
    COLOR: #999999
}
.coderTextWhite
{
    COLOR: #ffffff
}
.coderTextWhite:link
{
    COLOR: #ffffff
}
.coderTextWhite:visited
{
    COLOR: #ffffff
}
.coderTextWhite:hover
{
    COLOR: #ffffff
}
.coderTextWhite:active
{
    COLOR: #ffffff
}
.coderTextBlack
{
    COLOR: #000000
}
.coderTextBlack:link
{
    COLOR: #000000
}
.coderTextBlack:visited
{
    COLOR: #000000
}
.coderTextBlack:hover
{
    COLOR: #000000
}
.coderTextBlack:active
{
    COLOR: #000000
}
S {
    FONT-SIZE: 10px; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none;
}

.announce {
    padding: 0px 8px;
    float:right;
    width:50%;
    border: 1px solid #004080;
    margin-left: 8px;
}

p.nmessage {
    text-align:justify;
}



a {
    color: #004080;
}
td.topmenu a {
    color: #ffffff;
    text-decoration: none;
    cursor:hand;
}
td.topmenu a:hover {
    color: #c0c0c0;
}
td.topmenu {
    text-align: center;
    font-weight: bold;
    font-style: oblique;
}
td.topmenu div {
    background-color: #004080;
    height: 25px;
    padding-top: 2px;
}

td.menuleft a {
    color: #ffffff;
    text-decoration: none;
    cursor:hand;
}
td.menuleft a:hover {
    color: #c0c0c0;
}

TD.menuleft {

    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    COLOR: #640d00;
    FONT-STYLE: oblique;
    TEXT-ALIGN: left;

}

TD.menuleft DIV {
    PADDING-RIGHT: 8px;
    PADDING-LEFT: 8px;
    PADDING-BOTTOM: 4px;
    PADDING-TOP: 4px;
    WHITE-SPACE: nowrap;
    BACKGROUND-COLOR: #004080;
    TEXT-ALIGN: center;
}

td.newsselectcontainer {
    height: 25px;
    width: 190px;
}
td.newsselectcontainer form {
    margin: 0px;
}
td.newsselectcontainer select {
    background-color: #004080;
    color: #fff;
    width: 140px;
    font-style: oblique;
    font-weight: bold;
}
.newsselectbtn {
    background-color: #004080;
    color: #fff;
    width: 42px;
    height: 23px;
    font-weight: bold;
}


.menuleftblock {
    border: 1px solid #004080;
}
.memorial {
    padding: 0px 8px;
    border: 2px solid #000000;
}
