#catsscore_wrapper TABLE.standings{
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}
#catsscore_wrapper IMG {
    border:0;
}
#catsscore_wrapper TR.head
{
    BACKGROUND-COLOR: #eee
}
#catsscore_wrapper TD.stnd
{
    font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
#catsscore_wrapper TD.stndact
{
    color:#0000FF; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
#catsscore_wrapper TD.frost
{
    background-color: #ffeeaa; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
#catsscore_wrapper TD.gold
{
    background-color: #ffeeaa; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
#catsscore_wrapper TD.goldact
{
    color:#0000FF; background-color: #ffeeaa; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
#catsscore_wrapper TD.silver
{
    background-color: #aaaaaa; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
#catsscore_wrapper TD.silveract
{
    color:#0000FF; background-color: #aaaaaa; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
#catsscore_wrapper TD.bronze
{
    background-color: #f0c0a0; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
#catsscore_wrapper TD.bronzeact
{
    color:#0000FF; background-color: #f0c0a0; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}

#catsscore_wrapper TD.opener
{
    background-color: #b0ffb0; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
#catsscore_wrapper TD.bad
{
    background-color: #ffd0d0; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
#catsscore_wrapper TH.success
{
    background-color: #d0f0d0; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
#catsscore_wrapper TH.tried
{
    background-color: #ffd0d0; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
#catsscore_wrapper TD.upsolved
{
    font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px; color: #FF0000;
}
#catsscore_wrapper TD.virtual
{
    color:#0000FF; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
#catsscore_wrapper TD.alive
{
    color:#FF0000; font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
#catsscore_wrapper TH.stnd
{
    font-size: 12px; border: solid; border-width: 1px; border-color: #000000; margin: 1px;
}
#catsscore_wrapper TD.o01
{
    BACKGROUND-COLOR: #004080;
}
#catsscore_wrapper TR.solver
{
    BACKGROUND-COLOR: #F0C0A0;
}
#catsscore_wrapper TD.o00
{
    BACKGROUND-COLOR: #004080;
}
#catsscore_wrapper TR.stand00
{
    BACKGROUND-COLOR: #FFFFFF;
}
#catsscore_wrapper TR.stand01
{
    BACKGROUND-COLOR: #B0C7F0;
}

#catsscore_wrapper TR.cfres01
{
    BACKGROUND-COLOR: #FFFFB0;
}

#catsscore_wrapper .rotatedName
{
    -moz-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
}

#catsscore_wrapper TABLE.matches{table-layout:fixed;}
#catsscore_wrapper TD.match
{
    height:6em;
    width:2em;
}


#catsscore_wrapper .coderTextRed
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: transparent;
}
#catsscore_wrapper .coderTextYellow
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: transparent;
}
#catsscore_wrapper .coderTextViolet
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: transparent;
}
#catsscore_wrapper .coderTextBlue
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: transparent;
}
#catsscore_wrapper .coderTextGreen
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: transparent
}
#catsscore_wrapper .coderTextGray
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: transparent
}
#catsscore_wrapper .coderTextOrange
{
    FONT-WEIGHT: bold;
    BACKGROUND-COLOR: transparent
}
#catsscore_wrapper .coderTextRed:link
{
    TEXT-DECORATION: none
}
#catsscore_wrapper .coderTextYellow:link
{
    TEXT-DECORATION: none
}
#catsscore_wrapper .coderTextViolet:link
{
    TEXT-DECORATION: none
}
#catsscore_wrapper .coderTextBlue:link
{
    TEXT-DECORATION: none
}
#catsscore_wrapper .coderTextGreen:link
{
    TEXT-DECORATION: none
}
#catsscore_wrapper .coderTextGray:link
{
    TEXT-DECORATION: none
}
#catsscore_wrapper .coderTextOrange:link
{
    TEXT-DECORATION: none
}
#catsscore_wrapper .coderTextWhite:link
{
    TEXT-DECORATION: none
}
#catsscore_wrapper .coderTextBlack:link
{
    TEXT-DECORATION: none
}
#catsscore_wrapper .coderTextRed:visited
{
    TEXT-DECORATION: none
}
#catsscore_wrapper .coderTextYellow:visited
{
    TEXT-DECORATION: none
}
#catsscore_wrapper .coderTextViolet:visited
{
    TEXT-DECORATION: none
}
#catsscore_wrapper .coderTextBlue:visited
{
    TEXT-DECORATION: none
}
#catsscore_wrapper .coderTextGreen:visited
{
    TEXT-DECORATION: none
}
#catsscore_wrapper .coderTextGray:visited
{
    TEXT-DECORATION: none
}
#catsscore_wrapper .coderTextOrange:visited
{
    TEXT-DECORATION: none
}
#catsscore_wrapper .coderTextWhite:visited
{
    TEXT-DECORATION: none
}
#catsscore_wrapper .coderTextBlack:visited
{
    TEXT-DECORATION: none
}
#catsscore_wrapper .coderTextRed:hover
{
    TEXT-DECORATION: underline
}
#catsscore_wrapper .coderTextYellow:hover
{
    TEXT-DECORATION: underline
}
#catsscore_wrapper .coderTextViolet:hover
{
    TEXT-DECORATION: underline
}
#catsscore_wrapper .coderTextBlue:hover
{
    TEXT-DECORATION: underline
}
#catsscore_wrapper .coderTextGreen:hover
{
    TEXT-DECORATION: underline
}
#catsscore_wrapper .coderTextGray:hover
{
    TEXT-DECORATION: underline
}
#catsscore_wrapper .coderTextOrange:hover
{
    TEXT-DECORATION: underline
}
#catsscore_wrapper .coderTextWhite:hover
{
    TEXT-DECORATION: underline
}
#catsscore_wrapper .coderTextBlack:hover
{
    TEXT-DECORATION: underline
}
#catsscore_wrapper .coderTextRed:active
{
    TEXT-DECORATION: underline
}
#catsscore_wrapper .coderTextYellow:active
{
    TEXT-DECORATION: underline
}
#catsscore_wrapper .coderTextViolet:active
{
    TEXT-DECORATION: underline
}
#catsscore_wrapper .coderTextBlue:active
{
    TEXT-DECORATION: underline
}
#catsscore_wrapper .coderTextGreen:active
{
    TEXT-DECORATION: underline
}
#catsscore_wrapper .coderTextGray:active
{
    TEXT-DECORATION: underline
}
#catsscore_wrapper .coderTextOrange:active
{
    TEXT-DECORATION: underline
}
#catsscore_wrapper .coderTextWhite:active
{
    TEXT-DECORATION: underline
}
#catsscore_wrapper .coderTextBlack:active
{
    TEXT-DECORATION: underline
}
#catsscore_wrapper .coderTextOrange
{
    COLOR: #ff9900
}
#catsscore_wrapper .coderTextOrange:link
{
    COLOR: #ff9900
}
#catsscore_wrapper .coderTextOrange:visited
{
    COLOR: #ff9900
}
#catsscore_wrapper .coderTextOrange:hover
{
    COLOR: #ff9900
}
#catsscore_wrapper .coderTextOrange:active
{
    COLOR: #ff9900
}
#catsscore_wrapper .coderTextRed
{
    COLOR: #ee0000
}
#catsscore_wrapper .coderTextRed:link
{
    COLOR: #ee0000
}
#catsscore_wrapper .coderTextRed:visited
{
    COLOR: #ee0000
}
#catsscore_wrapper .coderTextRed:hover
{
    COLOR: #ee0000
}
#catsscore_wrapper .coderTextRed:active
{
    COLOR: #ee0000
}
#catsscore_wrapper .coderTextYellow
{
    COLOR: #ddcc00
}
#catsscore_wrapper .coderTextYellow:link
{
    COLOR: #ddcc00
}
#catsscore_wrapper .coderTextYellow:visited
{
    COLOR: #ddcc00
}
#catsscore_wrapper .coderTextYellow:hover
{
    COLOR: #ddcc00
}
#catsscore_wrapper .coderTextYellow:active
{
    COLOR: #ddcc00
}
#catsscore_wrapper .coderTextViolet
{
    COLOR: #a0a
}
#catsscore_wrapper .coderTextViolet:link
{
    COLOR: #a0a
}
#catsscore_wrapper .coderTextViolet:visited
{
    COLOR: #a0a
}
#catsscore_wrapper .coderTextViolet:hover
{
    COLOR: #a0a
}
#catsscore_wrapper .coderTextViolet:active
{
    COLOR: #a0a
}

#catsscore_wrapper .coderTextBlue
{
    COLOR: #6666ff
}
#catsscore_wrapper .coderTextBlue:link
{
    COLOR: #6666ff
}
#catsscore_wrapper .coderTextBlue:visited
{
    COLOR: #6666ff
}
#catsscore_wrapper .coderTextBlue:hover
{
    COLOR: #6666ff
}
#catsscore_wrapper .coderTextBlue:active
{
    COLOR: #6666ff
}
#catsscore_wrapper .coderTextGreen
{
    COLOR: #00a900
}
#catsscore_wrapper .coderTextGreen:link
{
    COLOR: #00a900
}
#catsscore_wrapper .coderTextGreen:visited
{
    COLOR: #00a900
}
#catsscore_wrapper .coderTextGreen:hover
{
    COLOR: #00a900
}
#catsscore_wrapper .coderTextGreen:active
{
    COLOR: #00a900
}
#catsscore_wrapper .coderTextGray
{
    COLOR: #999999
}
#catsscore_wrapper .coderTextGray:link
{
    COLOR: #999999
}
#catsscore_wrapper .coderTextGray:visited
{
    COLOR: #999999
}
#catsscore_wrapper .coderTextGray:hover
{
    COLOR: #999999
}
#catsscore_wrapper .coderTextGray:active
{
    COLOR: #999999
}
#catsscore_wrapper .coderTextWhite
{
    COLOR: #ffffff
}
#catsscore_wrapper .coderTextWhite:link
{
    COLOR: #ffffff
}
#catsscore_wrapper .coderTextWhite:visited
{
    COLOR: #ffffff
}
#catsscore_wrapper .coderTextWhite:hover
{
    COLOR: #ffffff
}
#catsscore_wrapper .coderTextWhite:active
{
    COLOR: #ffffff
}
#catsscore_wrapper .coderTextBlack
{
    COLOR: #000000
}
#catsscore_wrapper .coderTextBlack:link
{
    COLOR: #000000
}
#catsscore_wrapper .coderTextBlack:visited
{
    COLOR: #000000
}
#catsscore_wrapper .coderTextBlack:hover
{
    COLOR: #000000
}
#catsscore_wrapper .coderTextBlack:active
{
    COLOR: #000000
}
#catsscore_wrapper S {
    FONT-SIZE: 10px; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-DECORATION: none;
}

#catsscore_wrapper .announce {
    padding: 0px 8px;
    float:right;
    width:50%;
    border: 1px solid #004080;
    margin-left: 8px;
}

#catsscore_wrapper p.nmessage {
    text-align:justify;
}



#catsscore_wrapper a {
    color: #004080;
}
#catsscore_wrapper td.topmenu a {
    color: #ffffff;
    text-decoration: none;
    cursor:hand;
}
#catsscore_wrapper td.topmenu a:hover {
    color: #c0c0c0;
}
#catsscore_wrapper td.topmenu {
    text-align: center;
    font-weight: bold;
    font-style: oblique;
}
#catsscore_wrapper td.topmenu div {
    background-color: #004080;
    height: 25px;
    padding-top: 2px;
}

#catsscore_wrapper td.menuleft a {
    color: #ffffff;
    text-decoration: none;
    cursor:hand;
}
#catsscore_wrapper td.menuleft a:hover {
    color: #c0c0c0;
}

#catsscore_wrapper TD.menuleft {

    FONT-WEIGHT: bold;
    FONT-SIZE: 16px;
    COLOR: #640d00;
    FONT-STYLE: oblique;
    TEXT-ALIGN: left;

}

#catsscore_wrapper TD.menuleft DIV {
    PADDING-RIGHT: 8px;
    PADDING-LEFT: 8px;
    PADDING-BOTTOM: 4px;
    PADDING-TOP: 4px;
    WHITE-SPACE: nowrap;
    BACKGROUND-COLOR: #004080;
    TEXT-ALIGN: center;
}

#catsscore_wrapper td.newsselectcontainer {
    height: 25px;
    width: 190px;
}
#catsscore_wrapper td.newsselectcontainer form {
    margin: 0px;
}
#catsscore_wrapper td.newsselectcontainer select {
    background-color: #004080;
    color: #fff;
    width: 140px;
    font-style: oblique;
    font-weight: bold;
}
#catsscore_wrapper .newsselectbtn {
    background-color: #004080;
    color: #fff;
    width: 42px;
    height: 23px;
    font-weight: bold;
}


#catsscore_wrapper .menuleftblock {
    border: 1px solid #004080;
}
#catsscore_wrapper .memorial {
    padding: 0px 8px;
    border: 2px solid #000000;
}
