#catsscore_wrapper {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial;
    font-size: 14px;
    margin: 0;
    width: 100%;
}

#catsscore_wrapper table.iface { width: 100%; border-collapse : collapse; }
#catsscore_wrapper table.iface tr td { padding: 0; }

#catsscore_wrapper table.header {
    font-family: Arial, sans-serif;
    color: #333300;
    background-color: #ffcc55;
}

#catsscore_wrapper div.elapsed {
    position: relative;
    width: 550px;
    height: 72px;
    background-image: url(../../images/std/bg.gif);
    margin-right: 4px;
}

#catsscore_wrapper div.elapsed > span {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: small;
}

#catsscore_wrapper .main_menu {
    background-color: #7070ff;
    height: 30px;
}

#catsscore_wrapper .sub_menu {
    background-color: #bbbbff;
    height: 25px;
}

#catsscore_wrapper .top {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: white;
}

#catsscore_wrapper a.top, #catsscore_wrapper a.top:link, #catsscore_wrapper a.top:visited, #catsscore_wrapper a.top:active,
#catsscore_wrapper .top a, #catsscore_wrapper .top a:link, #catsscore_wrapper .top a:visited, #catsscore_wrapper .top a:active
{
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: white;
    text-decoration: none;
}

#catsscore_wrapper a, #catsscore_wrapper a:link {
    color: #4040ff;
    font-family: Arial;
    text-decoration: none;
    font-size: 14px
}

#catsscore_wrapper .sub_menu a {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #3030a0;
}

#catsscore_wrapper a.main_menu_selected, #catsscore_wrapper a.main_menu_selected:visited { color: yellow; }
#catsscore_wrapper a.sub_menu_selected, #catsscore_wrapper a.sub_menu_selected:visited { color: white; }

#catsscore_wrapper tr.footer, #catsscore_wrapper tr.footer td {
    background-color: #7070ff;
    height: 30px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

#catsscore_wrapper tr.footer2, #catsscore_wrapper tr.footer2 td, tr.footer2 td a {
    background-color: #ffcc55;
    height: 40px;
    color: #333300;
    font-size: 12px;
}

#catsscore_wrapper .filter {
    /*filter: Alpha(Opacity=80, FinishOpacity=20, Style=1, StartX=0, StartY=100, FinishY=250);*/
}

#catsscore_wrapper select, #catsscore_wrapper option {
    background-color: #ffffff;
    border: 1px solid #4040ff;
    height: 22px;
    vertical-align: middle;
}

#catsscore_wrapper input {
    height: 22px;
    vertical-align: middle;
}

#catsscore_wrapper .file {
    border: 1px solid #4040ff;
    background: #ffffff;
}

#catsscore_wrapper .bordered {
    border: 1px solid #4040ff;
}

#catsscore_wrapper .bordered2 {
    color: white;
    border: 1px solid white;
    background-color: #ccccff;
}

#catsscore_wrapper table.internal_borders { border-collapse: collapse; }
#catsscore_wrapper table.internal_borders td, #catsscore_wrapper table.internal_borders th { border: 1px solid #4040ff; }
#catsscore_wrapper table.sample { border-collapse: collapse; border: 2px; }
#catsscore_wrapper table.sample td, #catsscore_wrapper table.sample th { border: 1px solid black; padding: 5px; }
#catsscore_wrapper table.sample td { vertical-align: top; }

#catsscore_wrapper .button {
    background-color: #ffffff;
    border: 1px solid #4040ff;
    color : #4040ff;
}
#catsscore_wrapper .button2 {
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: #7070ff;
}

#catsscore_wrapper th { font-size: 11pt; font-weight: bold; color:#000000; }
#catsscore_wrapper td { font-size: 11pt }
#catsscore_wrapper td.ts { font-size: 10pt; font-style: italic; }

#catsscore_wrapper tr.run_details_OK { background-color: #A0FFA0 }
#catsscore_wrapper tr.run_details_WA { background-color: #FFA0A0 }
#catsscore_wrapper tr.run_details_PE { background-color: #FFFFA0 }
#catsscore_wrapper tr.run_details_RE { background-color: #FFA0A0 }

#catsscore_wrapper tr.run_details_IN { color: #A0A000 }
#catsscore_wrapper tr.run_details_NP { color: #008000 }
#catsscore_wrapper tr.run_details_NT { color: #000080; font-style: italic; }

#catsscore_wrapper tr.odd { background-color: #ffffff; }
#catsscore_wrapper tr.even { background-color: #f0f0f0; }
#catsscore_wrapper table.highlight tr:hover { background-color: #ffcc55; }
#catsscore_wrapper table.console tr td { margin: 0; padding: 1px 10px 1px 1px; }
#catsscore_wrapper table.console tr td, #catsscore_wrapper table.console tr td a { font-size: 10pt; }
#catsscore_wrapper table.console tr td:first-child { width: 1%; white-space: nowrap; }

#catsscore_wrapper p { margin-top: 5px; margin-bottom: 5px }

#catsscore_wrapper ul { margin-top: 5px; margin-bottom: 5px }

#catsscore_wrapper h2 { margin-top: 10px; margin-bottom: 10px }
#catsscore_wrapper h3 { margin-top: 10px; margin-bottom: 5px }
#catsscore_wrapper h4 { margin-top: 10px; margin-bottom: 5px }
#catsscore_wrapper code { margin-top: 0; margin-bottom: 0 }
#catsscore_wrapper pre { margin-top: 0; margin-bottom: 0 }

#catsscore_wrapper .diff_only_a { background-color: #FFA0A0 }
#catsscore_wrapper .diff_only_b { background-color: #A0FFA0 }

#catsscore_wrapper form.embedded { margin: 0 }
#catsscore_wrapper a.current_link { font-weight: bold; }

#catsscore_wrapper span.TeX { font-family: Arial Unicode Ms, Lucida Sans Unicode, Arial, sans serif; }
#catsscore_wrapper span.TeX i { font-family: Times New Roman, serif; }
#catsscore_wrapper span.TeX b { font-weight: normal; font-family: Times New Roman, serif; }
#catsscore_wrapper span.TeX sup { white-space: nowrap; position: relative; left: 1px; }
#catsscore_wrapper span.TeX sub { white-space: nowrap; position: relative; top: 2px; }
#catsscore_wrapper span.TeX span.over { border-top: 1px solid black; padding: 0px 3px 0px 1px; }
#catsscore_wrapper span.TeX span.num { font-family: Times New Roman, serif; }
#catsscore_wrapper span.TeX span.sqrt { border-top: 1px solid black; padding-right: 2px; }
#catsscore_wrapper span.TeX span.sqrt_sym { font-size: 18px; }
#catsscore_wrapper span.TeX table.frac { border: 0; border-collapse: collapse; display: inline; vertical-align: middle; }
#catsscore_wrapper span.TeX table.frac tr.nom td { border-bottom: 1px solid black; }
#catsscore_wrapper span.TeX table.limits { border: 0; border-collapse: collapse; display: inline; text-align: center; vertical-align: middle; }
#catsscore_wrapper span.TeX table.limits tr { vertical-align: middle; padding: 0; margin: 0; }
#catsscore_wrapper span.TeX table.limits tr td.sub { vertical-align: top; padding: 0; margin: 0; font-size: small; }

#catsscore_wrapper table.nobr tr td { white-space: nowrap; }

#catsscore_wrapper a.spell { text-decoration: underline; color: red; }

#catsscore_wrapper td.problem_radio { width: 1%; height: 100%; padding: 0; margin: 0; }
#catsscore_wrapper td.problem_radio label { display: block; width: 100%; height: 100%; }

#catsscore_wrapper table.rank_table tr td p { padding: 0; margin: 0; font-size: 10px; }

#catsscore_wrapper div.problem_text { margin-left: 10px; margin-right: 10px; }
#catsscore_wrapper div.problem_text h3, #catsscore_wrapper div.problem_text h4 {
    font-style: italic;
    page-break-after: avoid;
}

#catsscore_wrapper div.problem_text div { page-break-inside: avoid; }

#catsscore_wrapper @media print { .jsonly { display: none; } }

#catsscore_wrapper table.registration tr td { padding: 5px; width: 200px; }

#catsscore_wrapper span.timing { color: #808080; font-size: xx-small; }

#catsscore_wrapper div.problem_submit { float: left; margin: 5px 20px 5px 5px; }
#catsscore_wrapper div.problem_submit label { display: inline-block; width: 140px; margin-right: 5px; }

#catsscore_wrapper span.jury_message { color: red; }


.pace .pace-progress {
  background: #ccccff;
}

.pace .pace-progress-inner {
  box-shadow: 0 0 10px #ccccff, 0 0 5px #ccccff;
}

.pace .pace-activity {
  border-top-color: #ccccff;
  border-left-color: #ccccff;
}
