<div class="row">
    <div class="col-md-12">
        <button id="btn_filters" class="btn btn-filter btn-block"
        role="button" data-toggle="collapse" href="#collapse_filters"
        aria-controls="collapse_filters">
            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true">
            </span>
            Filters
        </button>
    </div>
</div>
<div id="collapse_filters" class="collapse">
    <div class="row">
        <div class="col-md-3">
            <label for="user">Name:</label>
            <input id="user" class="form-control" type="text" size="20" value=".*?"/>
        </div>
        <div class="col-md-3">
            <label for="affiliation">Affiliation:</label>
            <input id="affiliation" class="form-control" type="text" size="20" value=".*?"/>
        </div>
        <div class="col-md-3">
            <label for="problem">Problem:</label>
            <select id="problem" class="selectpicker form-control" multiple
            data-actions-box="true">
                <%var prs = contest.problems;
                for (var i = 0; i < prs.length; ++i) {%>
                <option value="<%=prs[i]%>" data-subtext="<%=app.problems[prs[i]].name%>">
                    <%=app.problems[prs[i]].code%>
                </option>
                <%}%>
            </select>
        </div>
        <div class="col-md-3">
            <label for="status">Status:</label>
            <select id="status" class="selectpicker form-control" multiple
            data-actions-box="true">
                <%for(var s in chart.statuses) {%>
                <option data-subtext="<%=chart.statuses[s]%>"><%=s%></option>
                <%}%>
            </select>
        </div>
    </div>
</div>
