<%
if (expanded) {
    var btn_class = 'btn-green',
        collapse_class = 'collapse in',
        glyphicon = 'glyphicon-triangle-bottom';
} else {
    var btn_class = '',
        collapse_class = 'collapse',
        glyphicon = 'glyphicon-triangle-right';
}
%>

<div class="row">
    <div class="col-md-12">
        <button id="btn_filters" class="btn btn-black btn-block <%=btn_class%>"
        role="button" data-toggle="collapse" href="#collapse_filters"
        aria-expanded="<%=expanded%>" aria-controls="collapse_filters">
            <span class="glyphicon <%=glyphicon%>" aria-hidden="true">
            </span>
            Filters
        </button>
    </div>
</div>
<div id="collapse_filters" class="<%=collapse_class%>">
    <div class="row">
        <div class="col-md-3">
            <label>Name:</label>
            <input id="cont_name" class="form-control"
            value="<%=filters.name != null ? filters.name : '.*?'%>" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="bottom-line"></div>
        </div>
    </div>
</div>