<%
var minutes = filters.duration.minutes != null
    ? filters.duration.minutes : contest_duration;
var types = ['history', 'scoreboard'];
%>

<script>
    $("#contest_slider").slider({
        value: <%=minutes%>,
        min: 0,
        max: <%=contest_duration%>,
        step: 1,
        slide: function (event, ui) {
            $("#rnk_contest_minutes").val(ui.value);
            $("#rnk_contest_minutes").change();
        }
    });
</script>

<div class="row">
    <div class="col-md-12">
        <button id="btn_filters" class="btn btn-black btn-block <%=btn_class%>"
        role="button" data-toggle="collapse" href="#collapse_filters"
        aria-expanded="<%=expanded%>" aria-controls="collapse_filters">
            <span class="glyphicon <%=glyphicon%>" aria-hidden="true">
            </span>
            Filters
        </button>
    </div>
</div>
<div id="collapse_filters" class="<%=collapse_class%>">
    <div class="row">
        <div class="col-md-3">
            <label for="rnk_user">User: </label>
            <input id="rnk_user" class="form-control"
            value="<%=filters.user != null ? filters.user : '.*?'%>" />
        </div>
        <div class="col-md-3">
            <label for="rnk_affiliation">Affiliation: </label>
            <input id="rnk_affiliation" class="form-control"
            value="<%=filters.affiliation != null ? filters.affiliation : '.*?'%>" />
        </div>
        <div class="col-md-3">
            <label for="rnk_role">Role: </label>
            <input id="rnk_role" class="form-control"
            value="<%=filters.role != null ? filters.role : '.*?'%>" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label for="rnk_contest_minutes">Contest duration:</label>
            <div class="input-group">
                <input id="rnk_contest_minutes" type="number"
                class="form-control" value="<%=minutes%>"
                min="0" max="<%=contest_duration%>"
                aria-describedby="rnk_addon">
                <span class="input-group-addon" id="rnk_addon">
                    of <%=contest_duration%> minutes
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <label for="rnk_restriction_type">Restriction type: </label>
            <div id="rnk_restriction_type" class="btn-group"
            data-toggle="buttons">
            <%_.each(types, function (t) { %>
                <label class="btn btn-default
                <%=filters.duration.type == t ? 'active' : ''%>">
                    <input type="radio" name="options" value="<%=t%>"/> <%=t%>
                </label>
            <%});%>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div id="contest_slider"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="bottom-line"></div>
        </div>
    </div>
</div>