#catsscore_wrapper {
    text-align: center;
}

#catsscore_wrapper table {
    font-family: monospace;
}

#catsscore_wrapper table.wrapper {
    text-align: center;
    border-collapse: collapse;
    border: none;
    margin: 0pt;
    padding: 0pt;
    width: 100%;
}

#catsscore_wrapper table.standings {
    border-collapse: collapse;
    border: none;
    margin: 0pt;
    padding: 1pt;
}

#catsscore_wrapper p {
    text-align: center;
    font-family: monospace;
}

#catsscore_wrapper small {
    font-size: xx-small;
}

#catsscore_wrapper h2 {
    font-family: helvetica;
    font-size: large;
    text-align: center;
}

#catsscore_wrapper h3 {
    font-family: helvetica;
    font-size: medium;
}

#catsscore_wrapper th {
}

#catsscore_wrapper th.solved {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

#catsscore_wrapper th.penalty {
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}

#catsscore_wrapper th.party {
    text-align: left;
    padding-left: 10px;
}

#catsscore_wrapper th.rank {
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}

#catsscore_wrapper th.problem {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

#catsscore_wrapper td {
    text-align: center;
}

#catsscore_wrapper td.solved {
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
}

#catsscore_wrapper td.penalty {
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
}

#catsscore_wrapper td.party {
    text-align: left;
    padding-left: 10px;
}

#catsscore_wrapper td.rank {
    text-align: right;
    padding-right: 10px;
}

#catsscore_wrapper td.problem {
    text-align: center;
}

#catsscore_wrapper b {
    color: #c06060;
    font-weight: normal;
}
#catsscore_wrapper i {
    color: green;
    font-style: normal;
}
#catsscore_wrapper i.first-to-solve {
    display: block;
    background-color: #c0ffc0;
    font-style: normal;
}
#catsscore_wrapper em {
    color: black;
    background-color: #f0f0a0;
    font-style: normal;
}
#catsscore_wrapper s {
    font-size: x-small;
    font-face: arial;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
}

.pace .pace-progress {
  background: #d0f0ff;
}

.pace .pace-progress-inner {
  box-shadow: 0 0 10px #d0f0ff, 0 0 5px #d0f0ff;
}

.pace .pace-activity {
  border-top-color: #d0f0ff;
  border-left-color: #d0f0ff;
}
