<%
var filters = (page == 'charts') ? {} : filters;
if (expanded) {
    var btn_class = 'open',
        collapse_class = 'collapse in',
        glyphicon = 'glyphicon-triangle-bottom';
} else {
    var btn_class = '',
        collapse_class = 'collapse',
        glyphicon = 'glyphicon-triangle-right';
}

if (page != 'history') {%>
<div class="row">
    <div class="col-md-12">
        <button id="btn_filters" class="btn btn-filter btn-block <%=btn_class%>"
        role="button" data-toggle="collapse" href="#collapse_filters"
        aria-expanded="<%=expanded%>" aria-controls="collapse_filters">
            <span class="glyphicon <%=glyphicon%>" aria-hidden="true">
            </span>
            Filters
        </button>
    </div>
</div>

<div id="collapse_filters" class="<%=collapse_class%>">
    <div class="row">
        <div class="col-md-3">
            <label for="filter_name">Name:</label>
            <input id="filter_name" class="form-control" placeholder=".*?"
            value="<%=filters.name != null ? filters.name : ''%>" />
        </div>
    <%if (page == 'contests') {%>
    </div>
    <%} else {%>
        <div class="col-md-3">
            <label for="filter_affiliation">Affiliation: </label>
            <input id="filter_affiliation" class="form-control"placeholder=".*?"
            value="<%=filters.affiliation != null ? filters.affiliation : ''%>" />
        </div>
        <%if (page == 'table') {
            var minutes = filters.duration.minutes != null ? filters.duration.minutes : current_contest_duration;
            var type = filters.duration.type != null ? filters.duration.type : 'history';
            var types = ['history', 'scoreboard'];%>
        <div class="col-md-3">
            <label for="filter_role">Role: </label>
            <input id="filter_role" class="form-control" placeholder=".*?"
            value="<%=filters.role != null ? filters.role : ''%>" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label for="filter_contest_minutes">Contest duration:</label>
            <div class="input-group">
                <input id="filter_contest_minutes" type="number" class="form-control" value="<%=minutes%>" min="0" max="<%=contest_duration%>" aria-describedby="rnk_addon">
                <span class="input-group-addon" id="rnk_addon">
                    of <%=contest_duration%> minutes
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <label for="filter_restriction_type">Restriction type: </label>
            <div id="filter_restriction_type" class="btn-group"
            data-toggle="buttons">
            <%_.each(types, function (t) { %>
                <label class="btn btn-default <%=type == t ? 'active' : ''%>">
                    <input type="radio" name="options" value="<%=t%>"/> <%=t%>
                </label>
            <%});%>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input id="contest_slider" type="text"/>
        </div>
    </div>
    <script>
        var duration = <%=contest_duration%>,
            current = <%=current_contest_duration%>,
            position = current > duration / 2 ? current * 100 / duration : 50;

        $('#contest_slider').slider({
            value: <%=minutes%>,
            ticks: [0, current, duration],
            ticks_positions: [0, position, 100],
            ticks_labels: ['', current == duration ? '' : 'Current time', ''],
            ticks_snap_bounds: 1,
            formatter: function(value) {
                return value;
            }
        }).on('change', function (e) {
            if (e.value.newValue > current) {
                e.value.newValue = current;
            }
            $("#filter_contest_minutes").val(e.value.newValue).change();
        });
    </script>

        <%} else if (page == 'charts') {%>
        <div class="col-xs-3">
            <label for="filter_problems">Problem:</label>
            <select id="filter_problems" class="selectpicker form-control" multiple data-actions-box="true">
            <%_.each(contest.problems, function (p) { %>
                <option value="<%=p%>" data-subtext="<%=app.problems[p].name%>">
                    <%=app.problems[p].code%>
                </option>
            <%});%>
            </select>
        </div>
        <div class="col-xs-3">
            <label for="filter_statuses">Status:</label>
            <select id="filter_statuses" class="selectpicker form-control" multiple
            data-actions-box="true">
                <%_.each(chart.statuses, function (status, code) {%>
                <option data-subtext="<%=status%>"><%=code%></option>
                <%});%>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label for="filter_type">Filter: </label>
            <div id="filter_type" class="btn-group"
            data-toggle="buttons">
                <label class="btn btn-default active">
                    <input type="radio" name="options" value="new"/>new series
                </label>
                <label class="btn btn-default">
                    <input type="radio" name="options" value="all"/>existing series
                </label>
            </div>
        </div>
    </div>
        <%}%>
    <%}%>
</div>
<%}%>