<h3><a href="#!show_contests_list/default/default">Cats-Score</a> &gt; rank table </h3>

<div class="row">
    <div class="col-md-3">
        <label for="page_name">Source:</label>
        <select id="page_name" class="selectpicker form-control">
            <option value="table">table</option>
            <option value="history">history</option>
            <option value="charts">charts</option>
        </select>
    </div>

    <%if (skin_list.length != 0) {%>
    <div class="col-md-3">
        <label for="skin">Skin:</label>
        <select id="skin" class="selectpicker form-control">
            <% for (var i = 0; i < skin_list.length; ++i) {%>
            <option value="<%=skin_list[i]%>"><%=skin_list[i]%></option>
            <%}%>
        </select>
    </div>
    <%}%>
</div>

<h3>Contest: <%=contest_name%></h3>
