<h2>Contests list parameters:</h2>
<div>
    <label for="source">source:</label>
    <select id="source">
        <%$.each(CATS.App.adapters, function (name, adapter) {%>
        <option value="<%=name%>"><%=name%></option>
        <%});%>
    </select>
    <%if (skin_list.length != 0) {%>
    <label for="skin">skin:</label>
    <select id="skin">
        <% for (var i = 0; i < skin_list.length; ++i) {%>
        <option value="<%=skin_list[i]%>"><%=skin_list[i]%></option>
        <%}%>
    </select>
    <%}%>
    <%if (contests.length > 0) {%>
        <br />
        <a href="#!show_rank_table/table/cats/<%=contests.join()%>">Compute summed table of contests: <%=contests.join()%></a>
    <%}%>
</div>