<h3>Cats-Score</h3>

<div class="row">
    <div class="col-md-3">
        <label for="source">Source:</label>
        <select id="source" class="selectpicker form-control">
            <%$.each(CATS.App.adapters, function (name, adapter) {%>
            <option value="<%=name%>"><%=name%></option>
            <%});%>
        </select>
    </div>

    <%if (skin_list.length != 0) {%>
    <div class="col-md-3">
        <label for="skin">Skin:</label>
        <select id="skin" class="selectpicker form-control">
            <% for (var i = 0; i < skin_list.length; ++i) {%>
            <option value="<%=skin_list[i]%>"><%=skin_list[i]%></option>
            <%}%>
        </select>
    </div>
    <%}%>
</div>

<h3>Contests</h3>

<%if (contests.length > 0) {%>
    <br />
    <a href="#!show_rank_table/table/cats/<%=contests.join()%>">Compute summary table of contests: <%=contests.join()%></a>
<%}%>



