<a href="#!show_contests_list/default/<%=skin%>">Back to contest list</a>
<h2>Scoreboard parameters:</h2>
<div>
    <label for="page_name">display:</label>
    <select id="page_name">
        <option value="table">table</option>
        <option value="history">history</option>
        <option value="charts">charts</option>
    </select>
    <%if (skin_list.length != 0) {%>
    <label for="skin">skin:</label>
    <select id="skin">
        <% for (var i = 0; i < skin_list.length; ++i) {%>
        <option value="<%=skin_list[i]%>"><%=skin_list[i]%></option>
        <%}%>
    </select>
    <%}%>
</div>
<h2>Contest:</h2>
<h3><%=contest_name%></h3>