<script>
$('.pagination').jqPagination({
    max_page	: <%=maximum_page%>,
    current_page: <%=current_page%>,
    paged		: function(page) {
        var url = window.location.hash;
        window.location.hash = url.match("page=") ?
            url.replace(/page=\d*/, "page=" + page) :
            url + "/?page=" + page;
    }
});

</script>
<h2>Pagination:</h2>
<div class="gigantic pagination">
    <a href="#" class="first" data-action="first">&laquo;</a>
    <a href="#" class="previous" data-action="previous">&lsaquo;</a>
    <input type="text" readonly="readonly" />
    <a href="#" class="next" data-action="next">&rsaquo;</a>
    <a href="#" class="last" data-action="last">&raquo;</a>
</div>
<div><label for="el_per_page">elements per page:</label>
    <input id="el_per_page" value="<%=el_per_page%>" /></div>