.pagination {
    display: inline-block;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
}

.pagination a {
    display: block;
    float: left;
    width: 20px;
    height: 30px;
    outline: none;
    border-right: 1px solid #CDCDCD;
    border-left: 1px solid #CDCDCD;
    color: #555555;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    font-family: Times, 'Times New Roman', Georgia, Palatino;
    /* ATTN: need a better font stack */
    background-color: #f3f3f3;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, lightgrey));
    background-image: -webkit-linear-gradient(#f3f3f3, lightgrey);
    background-image: linear-gradient(#f3f3f3, lightgrey);
}

.pagination a:hover, .pagination a:focus, .pagination a:active {
    background-color: #cecece;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4e4e4), color-stop(100%, #cecece));
    background-image: -webkit-linear-gradient(#e4e4e4, #cecece);
    background-image: linear-gradient(#e4e4e4, #cecece);
}

.pagination a.disabled, .pagination a.disabled:hover, .pagination a.disabled:focus, .pagination a.disabled:active {
    background-color: #f3f3f3;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, lightgrey));
    background-image: -webkit-linear-gradient(#f3f3f3, lightgrey);
    background-image: linear-gradient(#f3f3f3, lightgrey);
    color: #A8A8A8;
    cursor: default;
}

.pagination a:first-child {
    border: none;
    border-radius: 2px 0 0 2px;
}

.pagination a:last-child {
    border: none;
    border-radius: 0 2px 2px 0;
}

.pagination input {
    float: left;
    margin: 0;
    padding: 0;
    width: 120px;
    height: 30px;
    outline: none;
    border: none;
    vertical-align: middle;
    text-align: center;
}

.gigantic.pagination {
    margin: 0px 10px 10px 0px;
}

.gigantic.pagination a {
    height: 30px;
    width: 30px;
    font-size: 20px;
    line-height: 25px;
}

.gigantic.pagination input {
    box-shadow: inset 1px 1px 2px #ddd8dc;
    width: 200px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
}

details {
    border-radius: 3px;
    background: #EEE;
    margin: 1em 0;
    padding: 10px;
}

summary {
    background: #333;
    color: #FFF;
    border-radius: 3px;
    padding: 5px 10px;
    outline: none;
}

details[open] summary {
    background: #69c773;
    color: #333;
}

label {
    position: relative;
    display: inline-block;
    line-height: 30px;
    font-size: 15px;
}

select, input {
    font-size: 15px;
    padding-left: 5px;
    height: 30px;
    width: 150px;
    outline: none;
    color: black;
    border: 1px solid #C8BFC4;
    border-radius: 3px;
    box-shadow: inset 1px 1px 2px #ddd8dc;
    background-color: #fff;
}

.contest_selector, .selector {
    width: 30px;
}

.pie_wrapper {
    border: 1px solid #C8BFC4;
    border-radius: 3px;
    width: 230px;
    height: 230px;
    float: left;
}

.pie_wrapper h2 {
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#contest_min {
    font-size: 20px;
}

#contest_slider {
    width: 400px;
}

ul#legend {
}

ul#legend li {
    display: inline-block;
    padding: 4px;
    font-size: 60px;
    line-height: 30px;
}

ul#legend li:before {
    content: "•";
}

ul#legend li span {
    display: inline-block;
    color: black;
    font-size: 14px;
    vertical-align: top;
}

.clear {
    clear: both;
}

.plot_container {
    box-sizing: border-box;
    width: 850px;
    height: 450px;
    padding: 20px 15px 15px 15px;
    margin: 15px auto 30px auto;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.plot {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}

.pie {
    width: 500px;
    height: 500px;
    float: left;
}

#elements_per_page, #page_selector {
    float: left;
}
