.row {
    margin-top: 1%;
}

#catsscore .container {
    padding-right: 10px;
    padding-left: 10px;
}

#catsscore .container.non-responsive-container {
    width: 1170px;
}


#catsscore_header .selectpicker,
#catsscore_filters_wrapper .selectpicker,
#catsscore_wrapper .selectpicker {
    -webkit-box-shadow: box-shadow;
    box-shadow: unset;
}


#catsscore_pagination_wrapper .pagination {
    display: inline-block;
    margin: 10px 0px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
}

#catsscore_pagination_wrapper .pagination a {
    display: block;
    float: left;
    width: 10%;
    height: 100%;
    outline: none;
    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
    color: #555555;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    /* ATTN: need a better font stack */
    font-family: Times, 'Times New Roman', Georgia, Palatino;
}

#catsscore_pagination_wrapper .pagination a:hover,
#catsscore_pagination_wrapper .pagination a:focus,
#catsscore_pagination_wrapper .pagination a:active {
    background-color: #cecece;
}

#catsscore_pagination_wrapper .pagination a.disabled,
#catsscore_pagination_wrapper .pagination a.disabled:hover,
#catsscore_pagination_wrapper .pagination a.disabled:focus,
#catsscore_pagination_wrapper .pagination a.disabled:active {
    background-color: #f3f3f3;
    color: #a8a8a8;
    cursor: not-allowed;
}

#catsscore_pagination_wrapper .pagination a:first-child {
    border: none;
    border-radius: 2px 0 0 2px;
}

#catsscore_pagination_wrapper .pagination a:last-child {
    border: none;
    border-radius: 0 2px 2px 0;
}

#catsscore_pagination_wrapper .pagination input {
    float: left;
    margin: 0;
    padding: 0;
    width: 60%;
    height: 28px;
    outline: none;
    border: none;
    vertical-align: middle;
    text-align: center;
}


#el_per_page {
    margin: 0 1%;
    cursor: pointer;
}

#el_per_page.active {
    color: #000;
    cursor: initial;
}

#el_per_page.active:hover {
    color: #000;
    text-decoration: none;
}

#el_per_page_input {
    margin-bottom: 1%;
    margin-left: 2%;
    width: 21.5%;
    height: 28px;
    text-align: center;
    display: inline-block;
}

#elements_per_page {
    margin-top: 10px;
    text-align: right;
}


#catsscore_filters_wrapper .btn-filter {
    background-color: #333;
    color: #fff;
    text-align: left;
    font-size: 18px;
}

#catsscore_filters_wrapper .btn-filter.open {
    background-color: #54c571;
    color: #000;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#catsscore_filters_wrapper .input-group-addon {
    width: 100%;
    background-color: #fff;
    color: #000;
    text-align: right;
}

#catsscore_filters_wrapper .btn-group {
    width: 100%;
}

#catsscore_filters_wrapper .btn-group .btn {
    width: 50%;
    background-image: none;
    color: #000;
}

#catsscore_filters_wrapper .btn-group .btn.active {
    border: solid 1px #ccc;
}

#catsscore_filters_wrapper .slider {
    margin: 0% 0.7%;
    width: 98.6%;
}

#catsscore_filters_wrapper .slider-handle {
    background: #54c571;
    border-radius: 4px;
}

#catsscore_filters_wrapper .slider-tick {
    border-radius: 4px;
}

#catsscore_filters_wrapper .slider-selection,
#catsscore_filters_wrapper .slider-tick.in-selection {
    background-image: -webkit-linear-gradient(top, #f9f9f9 0, #f5f5f5 100%);
    background-image: -o-linear-gradient(top, #f9f9f9 0, #f5f5f5 100%);
    background-image: linear-gradient(to bottom, #f9f9f9 0, #f5f5f5 100%);
}

#catsscore_filters_wrapper .btn.selectpicker {
    width: 100%;
}

#rnk_contest_minutes {
    width: 100px;
}

#collapse_filters {
    margin-bottom: 40px;
}


.contest_selector, .selector {
    width: 30px;
}


.plot-container {
    box-sizing: border-box;
    width: 850px;
    height: 450px;
    padding: 20px 15px 15px 15px;
    margin: 15px auto 30px auto;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.plot {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}

.pie-container h3 {
    margin-bottom: 20px;
    text-align: center;
}

.pie {
    margin-left: 20px;
    width: 60%;
    height: 300px;
    float: left;
}

#catsscore_wrapper .legend > table,
#catsscore_wrapper .legend > div {
    margin-top: 86px;
}

#catsscore_wrapper .tooltip-arrow {
    display: none;
}

#catsscore_wrapper .tooltip-inner {
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    color: #2c2c2c;
}

#page_selector {
    float: left;
}
