.pagination {
    display: inline-block;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
}

.pagination a {
    display: block;
    float: left;
    width: 20px;
    height: 30px;
    outline: none;
    border-right: 1px solid #CDCDCD;
    border-left: 1px solid #CDCDCD;
    color: #555555;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    font-family: Times, 'Times New Roman', Georgia, Palatino;
    /* ATTN: need a better font stack */
    background-color: #f3f3f3;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, lightgrey));
    background-image: -webkit-linear-gradient(#f3f3f3, lightgrey);
    background-image: linear-gradient(#f3f3f3, lightgrey);
}

.pagination a:hover, .pagination a:focus, .pagination a:active {
    background-color: #cecece;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4e4e4), color-stop(100%, #cecece));
    background-image: -webkit-linear-gradient(#e4e4e4, #cecece);
    background-image: linear-gradient(#e4e4e4, #cecece);
}

.pagination a.disabled, .pagination a.disabled:hover, .pagination a.disabled:focus, .pagination a.disabled:active {
    background-color: #f3f3f3;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3f3f3), color-stop(100%, lightgrey));
    background-image: -webkit-linear-gradient(#f3f3f3, lightgrey);
    background-image: linear-gradient(#f3f3f3, lightgrey);
    color: #A8A8A8;
    cursor: default;
}

.pagination a:first-child {
    border: none;
    border-radius: 2px 0 0 2px;
}

.pagination a:last-child {
    border: none;
    border-radius: 0 2px 2px 0;
}

.pagination input {
    float: left;
    margin: 0;
    padding: 0;
    width: 120px;
    height: 30px;
    outline: none;
    border: none;
    vertical-align: middle;
    text-align: center;
}

.gigantic.pagination {
    margin: 10px 0;
}

.gigantic.pagination a {
    height: 30px;
    width: 30px;
    font-size: 20px;
    line-height: 25px;
}

.gigantic.pagination input {
    box-shadow: inset 1px 1px 2px #ddd8dc;
    width: 200px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
}

label {
    position: relative;
    display: inline-block;
    line-height: 30px;
    font-size: 15px;
}

select, input {
    font-size: 15px;
    padding-left: 5px;
    height: 30px;
    width: 150px;
    outline: none;
    color: black;
    border: 1px solid #C8BFC4;
    border-radius: 3px;
    box-shadow: inset 1px 1px 2px #ddd8dc;
    background-color: #fff;
}

.pie_wrapper {
    border: 1px solid #C8BFC4;
    border-radius: 3px;
    width: 230px;
    height: 230px;
    float: left;
}

#contest_min {
    font-size: 20px;
}

#contest_slider {
    width: 400px;
}

ul#legend {
    list-style: none;
    font-size: 16px;
}

ul#legend li {
    display: inline;
}

ul#legend li span {
}

ul#legend li:before{
    content:"•";
    padding-top: 40px;
    font-size: 80px;
}

.clear {
    clear: both;
}