.row {
    margin-top: 1%;
}


#wrapper .selectpicker {
    background-image: none;
}


#catsscore_pagination_wrapper .pagination {
    display: inline-block;
    margin: 10px 0px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    border: 1px solid #CDCDCD;
    border-radius: 4px;
}

#catsscore_pagination_wrapper .pagination a {
    display: block;
    float: left;
    width: 10%;
    height: 100%;
    outline: none;
    border-right: 1px solid #CDCDCD;
    border-left: 1px solid #CDCDCD;
    color: #555555;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    /* ATTN: need a better font stack */
    font-family: Times, 'Times New Roman', Georgia, Palatino;
}

#catsscore_pagination_wrapper .pagination a:hover,
#catsscore_pagination_wrapper .pagination a:focus,
#catsscore_pagination_wrapper .pagination a:active {
    background-color: #cecece;
}

#catsscore_pagination_wrapper .pagination a.disabled,
#catsscore_pagination_wrapper .pagination a.disabled:hover,
#catsscore_pagination_wrapper .pagination a.disabled:focus,
#catsscore_pagination_wrapper .pagination a.disabled:active {
    background-color: #f3f3f3;
    color: #A8A8A8;
    cursor: not-allowed;
}

#catsscore_pagination_wrapper .pagination a:first-child {
    border: none;
    border-radius: 2px 0 0 2px;
}

#catsscore_pagination_wrapper .pagination a:last-child {
    border: none;
    border-radius: 0 2px 2px 0;
}

#catsscore_pagination_wrapper .pagination input {
    float: left;
    margin: 0;
    padding: 0;
    width: 60%;
    height: 28px;
    outline: none;
    border: none;
    vertical-align: middle;
    text-align: center;
}


#el_per_page {
    margin: 0 1%;
    cursor: pointer;
}

#el_per_page.active {
    color: #000;
    cursor: initial;
}

#el_per_page.active:hover {
    color: #000;
    text-decoration: none;
}

#el_per_page_input {
    margin-bottom: 1%;
    margin-left: 2%;
    width: 21.5%;
    height: 28px;
    text-align: center;
    display: inline-block;
}

#elements_per_page {
    margin-top: 10px;
    text-align: right;
}


#catsscore_filters_wrapper .btn-black {
    background-color: #333;
    color: #fff;
    text-align: left;
    font-size: 18px;
}

#catsscore_filters_wrapper .btn-black:hover {
    color: #fff;
}

#catsscore_filters_wrapper .btn-green {
    background-color: #54C571;
    color: #000;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#catsscore_filters_wrapper .btn-green:hover {
    color: #000;
}

#catsscore_filters_wrapper .bottom-line {
    margin-bottom: 30px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 5px;
    border-radius: 4px;
    border-color: #54C571;
}

#catsscore_filters_wrapper .input-group-addon {
    width: 100%;
    background-color: #fff;
    color: #000;
    text-align: right;
}

#catsscore_filters_wrapper .btn-group {
    width: 100%;
}

#catsscore_filters_wrapper .btn-group .btn {
    width: 50%;
    background-image: none;
    color: #000;
}

#catsscore_filters_wrapper .btn-group .btn.active {
    border: solid 1px #ccc;
}

#rnk_contest_minutes {
    width: 100px;
}

#contest_slider {
    width: 100%;
}




details {
    border-radius: 3px;
    background: #EEE;
    margin: 1em 0;
    padding: 10px;
}

summary {
    background: #333;
    color: #FFF;
    border-radius: 3px;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
}

details[open] summary {
    background: #69c773;
    color: #333;
}


.contest_selector, .selector {
    width: 30px;
}

.pie_wrapper {
    border: 1px solid #C8BFC4;
    border-radius: 3px;
    width: 230px;
    height: 230px;
    float: left;
}

.pie_wrapper h2 {
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul#legend {
}

ul#legend li {
    display: inline-block;
    padding: 4px;
    font-size: 60px;
    line-height: 30px;
}

ul#legend li:before {
    content: "•";
}

ul#legend li span {
    display: inline-block;
    color: black;
    font-size: 14px;
    vertical-align: top;
}

.plot_container {
    box-sizing: border-box;
    width: 850px;
    height: 450px;
    padding: 20px 15px 15px 15px;
    margin: 15px auto 30px auto;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.plot {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}

.pie {
    width: 500px;
    height: 500px;
    float: left;
}

#page_selector {
    float: left;
}
